body {
    background-color: #e3e5d7;
}

* {
    font-family: monospace;
    font-size: 18px;
    letter-spacing: 2.5px;
    line-height: 34px;
}

#textoPrincipal {
    color: #586875;
    text-align: center;
    font-family: monospace;
    font-size: 28px;
}

.quadrado {
    background-color: #bdd6d2;
    width: 750px;
    height: 650px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    border: 10px solid #586875;
}

.quadrado-menor {
    width: 25px;
    height: 25px;
    background-color: black;
}

input {
    width: 240px;
    height: 25px;
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    border: 2px solid #586875;
    cursor: pointer;
    transition: 0.2s;
}

input:focus {
    scale: 1.2;
    text-align: left;
    border-color: black;
    font-weight: bold;
    cursor: text;
    outline: 0px;
}

input[type='submit'] {
    position: relative;
    cursor: pointer;
    width: 200px;
    height: 35px;
    font-size: 14px;
    left: 50%;
    translate: -50%;
    transition: 0.10s;
}

input[type='submit']:hover {
    scale: 1.2;
    font-weight: bold;
    border-color: black;
}

input[type='submit']:active {
    position: relative;
    top: 1px;
    cursor: wait;
}